body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    overflow: hidden; /* Impede a rolagem */
    -webkit-overflow-scrolling: touch; /* Melhora o scroll em dispositivos iOS */
}

canvas {
    background-color: #4CAF50;
    border: 2px solid #2E8B57;
}

.score {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}